{% extends "admin/layout.njk" %}

{% block main %}
    <main class="_grid _container _marginBottom" id="main">
        <form class="recipe-form" method="POST" action="create">
            <h1 class="title">Criando Receita</h1>
            <button class="button" type="submit">Salvar Receita</button>

            <div class="form-section">
                <div class="group">
                    <label for="author" class="label">Autor</label>
                    <input 
                        class="input" 
                        type="text" 
                        name="author" 
                        id="author"
                        value=""
                        placeholder="Nome do autor"
                    />
                </div>
            
                <div class="group">
                    <label for="recipeUrl" class="label">Imagem da receita</label>
                    <input 
                        class="input" 
                        type="url" 
                        name="image" 
                        id="img_url"
                        value=""
                        placeholder="URL da imagem"
                    />
                </div>

                <div class="group">
                    <label for="name" class="label">Nome</label>
                    <input 
                        class="input" 
                        type="text" 
                        name="title" 
                        id="name"
                        value=""
                        placeholder="Nome da receita"
                    />
                </div>

                <div class="group" id="ingredients-container">
                    <label class="label">Ingredientes</label>
                    <div class="groups">
                        <div class="group">
                            <input 
                                class="input" 
                                type="text" 
                                name="ingredients[]"
                                value=""
                                placeholder="Insira o ingrediente"
                            />
                        </div>
                    </div>

                    <button type="button" class="button" id="addIngredient">Adicionar novo ingrediente</button>
                </div>

                <div class="group" id="steps-container">
                    <label class="label">Modo de preparo</label>
                    <div class="groups">
                        <div class="group">
                            <input 
                                class="input" 
                                type="text" 
                                name="preparation[]"
                                value=""
                                placeholder="Insira o próximo passo"
                            />
                        </div>
                    </div>
                    <button type="button" class="button" id="addStep">Adicionar novo passo</button>
                </div>

                <div class="group">
                    <label for="additionalInfo" class="label">Informações adicionais</label>
                    <textarea 
                        class="input" 
                        name="additional" 
                        id="additionalInfo"
                        value=""
                    >
                    </textarea>
                </div>
            </div> 
        </form>
    </main>
{% endblock%}

{% block footerScripts %}
    <script src="/assets/js/addIngredient.js"></script>
    <script src="/assets/js/addStep.js"></script>
{% endblock %}