{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - {{recipe.title}}</title>
{% endblock %}

{% block main %}
    <main class="_grid _container _marginBottom" id="main">
        
        <div class="recipe-thumb">
            <img class="image" src="{{recipe.image}}" alt="Foto de {{recipe.title}}"/>
        </div>

        <div class="recipe-info">
            <h1 class="title">{{recipe.title}}</h1>
            <h2 class="author">{{recipe.author}}</h2>
        </div>

        <div class="step-container" id="ingredients-section">
            <div class="section-title">
                <h3 class="title">Ingredientes</h3>

                <button class="collapse-button" target="ingredients-section"></button>
            </div>

            <ul class="list _discStyle">
                {%for ingredient in recipe.ingredients%}
                    <li class="item">
                        <span>{{ingredient}}</span>
                    </li>
                {%endfor%}
            </ul>
        </div>

        <div class="step-container" id="preparation-section">
            <div class="section-title">
                <h3 class="title">Modo de preparo</h3>

                <button class="collapse-button" target="preparation-section"></button>
            </div>

            <ul class="list _discStyle">
                {%for step in recipe.preparation%}
                    <li class="item">
                        <span>{{step}}</span>
                    </li>
                {%endfor%}
            </ul>
        </div>

        {% if recipe.information != '' %}
            <div class="step-container" id="additional-section">
                <div class="section-title">
                    <h3 class="title">Informações Adicionais</h3>

                    <button class="collapse-button" target="additional-section"></button>
                </div>

                <p class="text">{{recipe.information}}</p>
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block footerScripts%}
    <script src="/assets/js/collapsible-content.js"></script>
{% endblock %}