{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - {{recipe.title}}</title>
{% endblock %}

{% block main %}
    <main class="_grid _container _marginBottom" id="main">
        <div class="section-title">
            <h2 class="title">Nossas Receitas</h2>
        </div>
    </main>
{% endblock %}