._container {
    padding: 0 20px;
}

._grid {
    margin: 0 auto;
    max-width: 940px;
}
._grid2 {
    margin: 0 auto;
    max-width: 900px; 
}

._full {
    width: 100%;
}

._marginBottom {
    margin-bottom: 40px !important;
}

._unmargin {
    margin: 0 !important;
}

._title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

._text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}