._container {
    padding: 0 20px;
}

._grid {
    margin: 0 auto;
    max-width: 940px;
}
._grid2 {
    margin: 0 auto;
    max-width: 900px; 
}

._full {
    width: 100%;
}

._marginBottom {
    margin-bottom: 40px !important;
}