.banner-full {
    background-color: #FBDFDB;
    background-image: url('../img/chef.png');
    background-position: 92% 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 120px 60px;
}


.banner-text {
    max-width: 50%;

    > .title {
        color: #111;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 0;
    }

    > .description {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
    }
}