@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #444;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

button {
    outline: 0;
}

input {
    height: 50px;
    padding: 0 20px;
    width: 100%;
}

textarea {
    min-height: 250px;
    padding: 20px;
    resize: vertical;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid #DDD;
    font-family: inherit;
    outline: 0;
    transition: border-color 250ms ease-in;

    &:focus {
        border-color:  #6558C3;
    }
}

.section-title {
    display: flex;
    margin-bottom: 20px;

    > .title {
        color: #111;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
    }   
}