@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #444;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin-bottom: 20px;

    > .title {
        color: #111;
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
    }   
}